@page
@model ProjektNET.Pages.EditConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie edycji";
}
 
<h1>@ViewData["Title"]</h1>
<p>
    Twoje konto @Model.Email zostało pomyślnie edytowane.
</p>