@page
@model ProjektNET.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Witamy na portalu ogłoszeniowym</h1>
<form method="post">
    <!-- <snippet_Register> -->
    <a asp-page="./Register" asp-page-handler="register">Zarejestruj się</a>
    <!-- </snippet_Register> -->
</form>