@page
@model IndexModel
@{
ViewData["Title"] = "Fizz Buzz";
}
<div class="text-center">
    <h1 class="display-4">Witamy na portalu do oddawania rzeczy niepotrzebnych. Wybierz, co chcesz zrobić:</h1>
    <form method="post">
        <label asp-for="Register.Name"></label>
        <input asp-for="Register.Name" /><br />
        <span asp-validation-for="Register.Name" class="text-danger"></span>
        <button type="submit">Zatwierdź</button>
    </form>
</div>