@page
@model IndexModel
@{
    ViewData["Title"] = "Projekt NET";
}
<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <label asp-for="ProjektNet.Number"></label>
        <input asp-for="ProjektNet.Number" /><br />
        <span asp-validation-for="ProjektNet.Number" class="text-danger"></span>
        <button type="submit">Zatwierdź</button>
    </form>
</div>