@page
@model LogoutModel
@{
    ViewData["Title"] = "Wylogowywanie";
}
 
<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Kliknij, by się wylogować</button>
            </form>
        }
        else
        {
            <p>Pomyślnie wylogowano</p>
        }
    }
</header>