@page
@model ProjektNET.Pages.RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}
 
<h1>@ViewData["Title"]</h1>
<p>
    Twoje konto @Model.Email zostało pomyślnie zarejestrowane.
</p>