@page
@model ProjektNET.Pages.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenei zresetowania hasła";
}
 
<h1>Potwierdzenie zresetowania hasła</h1>
 
<p>
    Hałso dla @Model.Email zostało zresetowane.
</p>
