@page
@model ProjektNET.Pages.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset Password Confirmation";
}
 
<h1>Reset Password Confirmation</h1>
 
<p>
    Password for @Model.Email has been reset. Please <a asp-action="Login">Login</a>
</p>
