@page
@model ProjektNET.Pages.ResetModel
 
@{
    ViewData["Title"] = "Reset";
}
 
 
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <h4>Type your email.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input!.Email"></label>
                    <input asp-for="Input!.Email" class="form-control" />
                    <span asp-validation-for="Input!.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </section>
    </div>
</div>
 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}