@page
@model ProjektNET.Pages.ResetConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie wysłania linku";
}
 
<h1>Potwierdzenie resetowania hasła</h1>
<p>
    E-mail z linkiem do resetowania hasła został wysłany.
</p>
