@page
@model ProjektNET.Pages.ResetPassword
 
@{
    ViewData["Title"] = "Reset Password";
}
 
<h1 class="bg-info text-white">Reset Password</h1>
<div class="text-danger" asp-validation-summary="All"></div>
 
<form asp-action="ResetThatPasswordPlease" method="post">
    <div class="form-group">
        <label asp-for="_resetPasswordModel!.Password"></label>
        <input asp-for="_resetPasswordModel!.Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="_resetPasswordModel!.ConfirmPassword"></label>
        <input asp-for="_resetPasswordModel!.ConfirmPassword" class="form-control" />
    </div>
    <input type="hidden" asp-for="_resetPasswordModel!.Email" class="form-control" />
    <button class="btn btn-primary" type="submit">Submit</button>
</form>